.login-container {
  height: 100%;
  background-color: #d2dfdb;
}

.login-sector {
  width: 400px;
  height: 550px;
  border-radius: 10%;
  background-color: #2596be;
  color: #d2dfdb;
}

.login-section {
  margin-top: 20%;
}

.login-title {
  color: #2596be;
  background-color: #d2dfdb;
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
}

::ng-deep .mat-form-field-label {
  color: #d2dfdb !important;
}

::ng-deep.mat-form-field-underline {
  background-color: #d2dfdb !important;
}

::ng-deep.mat-form-field-ripple {
 background-color: #d2dfdb !important;;
}

::ng-deep .mat-snack-bar-container{
  color: #d2dfdb !important;
  background-color: #2596be !important;
}

::ng-deep .mat-simple-snackbar-action {
  color: #d2dfdb;
}
