
.calendar-day {
  width: 14%;
  height: 160px;
  border: 1px groove black;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}

.day-name {
  width: 14%;
  border: 1px groove black;
  text-align: center;
  color: #d2dfdb;
  line-height: 30px;
  height: 30px;
  background-color: #2596be;
}

.importance {
  margin-bottom: 6px;
  height: 30px;
  width: 80%;
  color: #2596be;
  font-weight: bold;
  border-radius: 8px;
  :nth-child(1) {
    margin-left: 10px;
    margin-top: -4px;
  }
  :nth-child(3) {
    margin-top: 2px;
  }
}
.importance-low {
  background-color: #ffdf00;
  border: 4px groove rgba(#ffdf00, .7);
}
.importance-medium {
  background-color: orange;
  border: 4px groove rgba(orange, .7);
}
.importance-high {
  background-color: red;
  border: 4px groove rgba(red, .7);
}

.container {
  margin-top: 25px;
}

.day-container {
  margin-left: 3%;
  margin-right: 2%;
  flex-flow: row wrap;
  cursor: pointer;
}

.current-day {
  color: #d2dfdb;
  background-color: #2596be;
  border-radius: 100%;
  padding: 3px 6px 3px 6px;
}

.day-container::before, .container::after {
  content: '';
  width: 80%;
  order: 1;
}

.no-backdrop {
  background: none;
}

.remaining-tasks {
  background-color: #2596be;
  border-radius: 50%;
  height: 32px;
  width: 12%;
  margin-left: auto;
  margin-top: -19px;
}

.tasks-number {
  color: #d2dfdb;
  font-size: 18px;
  margin-top: -2px;
  font-weight: 500;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #2596be !important;
}

