<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center" class="day-container">
    <ng-container *ngFor="let weekday of daysOfWeek">
      <div class="day-name">{{ weekday }}</div>
    </ng-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="day-container">
    <ng-container
      *ngFor="let day of daysDisplayed;let i = index" #dayRef>
      <div class="calendar-day" [@slideInOut] (click)="opendAddTaskDialog(day, $event)">
        <span [ngClass]="{'current-day': highlightCurrentDay(day)}"> {{ day.currentDay }} </span>
      </div>
    </ng-container>
  </div>
</div>
